---
permalink: /favicon.svg
eleventyExcludeFromCollections: true
---
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
<text y=".9em" font-size="90">{% if isdevelopment %}🚨{%else%}🗒️{%endif%}</text>
</svg>