---
title: Wordle Answers
layout: layouts/home.njk
description: No wordle clues, just answers.
image: 
date: 
---

<div id="words">
  <h2>Wordle Day</h2>
  {% set wordslist = collections.words %}
  {% include "wordslist.njk" %}
</div>

<div id="posts">
  <h2>Updates</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>