---
#layout: layouts/base.njk
templateClass: tmpl-word
pagination:
  data: collections.words
  size: 1
  alias: word
permalink: "/day/{{ word.day }}/"
---
{% extends "layouts/base.njk" %}

{% set shareUrl = metadata.url + page.url %}

{% block extraArticleHeader %}
  <h5>Day {{ word.day }}<br /><small>{{ word.date | readableDate }}</small></h5>
  <h1>{{ word.word }}</h1>
{% endblock %}

{% block article %}
{{ content | safe }}

<h5>{{ word.dic.phonetic }}</h5>

<quote>
  {% for meaning in word.dic.meanings %}
    <p>
      <b>{{ meaning.partOfSpeech }}</b><br />
      {% for definition in meaning.definitions %}
        <quote>
          {{ definition.definition }}
        </quote>
      {% endfor %}
    </p>
  {% endfor %}
</quote>

<div class="page-days">
  <a class="prev-day" href="/day/{{ word.day - 1 }}/">Previous</a>
  <a class="next-day" href="/day/{{ word.day + 1 }}/">Next</a>
</div>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "Wordle day {{ word.day }} answer",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}"
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
